$primary-color: #283747;
$accent-color: #3c1874;
$off-white: #F3F3F3;
$white: #fff;

/* ====== GENERAL ===== */
body {
  color: $primary-color;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ====== INTRO ===== */
section#intro {
  height: 100vh;
  display: flex;
  padding: 1em 3em;
  justify-content: center;
  background: $white;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .title-wrapper {
    text-align: right;

    h2 {
      max-width: 65%;
      float: right;
    }
  }

  .intro-wrapper {
    max-width: 71%;
    margin-top: -7em;
    border-left: 8px solid $accent-color;
    padding-left: 1em;
  }
}

/* ====== HEADER ===== */
header {
  padding: 0.5em 1.5em;
}

/* ====== LOGOS + IMAGES ===== */
.main-logo {
  width: 4rem !important;
  max-height: 4rem !important;
  //   margin: 1em;
}

/* ====== GRID ===== */
