$primary-color: #283747;
$accent-color: #3c1874;

/* ====== GENERAL ===== */
body {
  color: $primary-color;
}

/* ====== HEADER ===== */
header {
  padding: 0.5em 1.5em;
}

/* ====== LOGOS + IMAGES ===== */
.main-logo {
  width: 2.5rem !important;
  max-height: 2.5rem !important;
  //   margin: 1em;
}

/* ====== GRID ===== */
