$primary-color: #283747;
$accent-color: #3c1874;
$off-white: #F3F3F3;
$white: #fff;

/* Breakpoints */
@mixin breakpoint($point) {
  @if ($point == lg-screen) {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if($point == med-screen) {
    @media (min-width: 768px) {
      @content;
    }
  } 
}

/* ====== GENERAL ===== */
body {
  color: $primary-color;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  font-family: 'Englebert', sans-serif;
}


p:not(.jump-link) a,
.icon a {
  text-decoration: underline solid;
  font-weight: 600;
  color: inherit;
  &:hover, &:focus{
    text-decoration: underline dotted;
    color: inherit;
  }
}

.container:not(.is-max-desktop) {
  @include breakpoint(med-screen){
    max-width: 768px;
  }
}

.container:not(.is-max-desktop):not(.is-max-widescreen){
  @include breakpoint(lg-screen){
    max-width:925px;
  }
}


/* ====== LOGOS + IMAGES ===== */
.main-logo {
  width: 4rem !important;
  max-height: 4rem !important;
  //   margin: 1em;
}

div.social {
  span.icon {
    margin: 0.5em;
    
    svg {
      font-size: 2em;  
    }
  }
}

.rounded-img {
  width: 13em;
  border-radius: 100%;
  margin: 1em auto 2em;
  @include breakpoint(med-screen){
    width: 16em;
  }
}

.wave-container {
  position: absolute;
  background: #3c1874;
  overflow: hidden;
  width: 100%;
  left: 0;

  svg {
    display: block;
  }
}


/* ====== HEADER ===== */
header {
  padding: 0.5em 1.5em;
}

/* ====== LANDING PAGE ===== */
section#landing {
  height: 85vh;
  display: flex;
  padding: 1em 3em;
  justify-content: center;
  background: $accent-color;
  color: $white;
  width: 100%; 
  position: relative;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // margin-left: 15%;
  }

  h1 {
    color: $white;
    font-family: 'Englebert', sans-serif;
  }

  h3 {
    color: $white;
    font-size: 1.5rem;
  }

  .jump-link {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -2.5em;
    z-index: 1000;

    a {
      color: #fff;
    }

    // Hover/focus styles?
    svg {
      margin-left: 2em;
    }
  }

  .intro-wrapper {
    max-width: 71%;
    margin-top: -7em;
    border-left: 8px solid $accent-color;
    padding-left: 1em;
  }

  .wave-container { 
    bottom: -3em;

    @include breakpoint(med-screen) {
      bottom: -11em;
    }
    @include breakpoint(lg-screen) {
      bottom: -16em;
    }
  }
}

/* ====== INTRO ===== */
section#intro {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  width: 100%; 
  position: relative;

  .container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-top: 25%;
    align-items: center;
    text-align: center;
    @include breakpoint(med-screen) {
      margin-top: 18%;
    }
    @include breakpoint(lg-screen) {
      margin-top: 10%;
    }
  }

  p {
    &:first-of-type {
      font-size:1.5em;
    }
    @include breakpoint(med-screen){
      font-size: 1.2em;
      line-height: 1.75em;
    }
  }

  .wave-container {
    background: #fff;
    bottom: -5.5em;
  }
}

/* ===== SKILLS + EXPERIENCE + FOOTER ===== */
section#skills, 
section#experience,
footer {
  background: $accent-color;
  color: $white;
  width: 100%; 

  h2, h4 {
    color: $white;
  }
}

/* ====== SKILLS ======= */ 
section#skills {
  position: relative;
  ul {
    margin-top: 2.5em;
    h4 {
      margin-bottom: 0.25em;
      font-size: 1.3rem;
      position: relative;
      &:before {
        content: '';
        width: 2.2em;
        height: 5px;
        position: absolute;
        top: -0.35em;
        left: -5px;
        background: rgba($white, 0.3);
        border-radius: 2px;
      }
    }
    li {
      display: flex;
      align-items: center;
      margin: 1em auto 1.75em;
    }
  }
  svg.iconify {
    font-size: 3.5rem;
    line-height: 1em;
    margin-right: 0.25em;
  }

  .wave-container {
    bottom: -4.5em;
    @include breakpoint(med-screen) {
      bottom: -17em;
    }
    @include breakpoint(lg-screen) {
      bottom: -18em;
    }
  }
  @include breakpoint(med-screen) {
    margin-bottom: 8em;
    min-height: 30em;
  }
  @include breakpoint(lg-screen) {
    // margin-bottom: 15em;
  }
}

/* ====== PORTFOLIO + ABOUT ===== */
section#portfolio, 
section#about {
  position: relative;
  h2 {
    color: $accent-color;
    margin-top: 1em;
  }
}

/* ====== PORTFOLIO ===== */
section#portfolio {
  margin-bottom: 5em;
  width: 100%; 
  .wave-container {
    background: #fff;
    bottom: -6.8em;
    @include breakpoint(med-screen) {
      bottom: -18em;
    }
    @include breakpoint(lg-screen) {
      bottom: -28em;
    }
  }

  .card-header {
    background: $accent-color;
  
    .card-header-title {
      color: $white;
    }
  }
  .card-content {
    border-top: 1px solid $off-white;

    .button.is-text{
      color: $accent-color;
      float: right;
      padding-bottom: 1.5em;
      padding-right: 0;
    }
  }
  .image.is-4by3 {
    padding-top: 70%;
  }
  @include breakpoint(med-screen) {
    margin-bottom: 10em;
  }
  @include breakpoint(lg-screen){
    margin-bottom: 15em;
  }
  
}

/* ====== EXPERIENCE ===== */
section#experience {
  padding-top: 5rem;
  padding-bottom: 4rem; 
  width: 100%; 
  position: relative;
  
  .wave-container {
    bottom: -4.5em;
    @include breakpoint(med-screen) {
      bottom: -17em;
    }
    @include breakpoint(lg-screen) {
      bottom: -12em;
    }
  }
  @include breakpoint(lg-screen){
    min-height: 25em;
  }
}

section#about {
  @include breakpoint(med-screen){
    margin-top: 8em;
  }
  @include breakpoint(lg-screen){
    margin-top: 5em;
    margin-bottom: 3em;
  }
}

/* ====== FOOTER ===== */
footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  padding: 3.5em 2em 3em;
  margin-top: 2.5em;  

  div.block {
    margin-top: 2em;
  }

  p {
    font-size: 0.85em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    img {
      width: 6em;
      margin: 0 0.25em;
    }
  }
}


/* ====== WORK GRID ===== */
.card {
  @include breakpoint(med-screen){
    min-height: 30.5em;
  }
  @include breakpoint(lg-screen) {
    max-width: 80%;
    margin: 0 auto;
  }
}

.modal-card-title {
  font-size: 1.3rem;
  max-width: 90%;
  line-height: 1.25em;
  @include breakpoint(med-screen){
    font-size: 1.4rem;
    line-height: 1;
    max-width: 100%;
  }
}